.forumpay-pgw {
  &-cancel {
    z-index: 1000;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 40px 10px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    &-title {
      font-size: 16px;
      color: var(--pgw-color-black);
      padding-bottom: 10px;
    }

    &-content {
      margin: auto;
    }

    &-container {
      border-radius: 8px;
      margin: 0 auto;
      background-color: var(--pgw-color-white);
      position: relative;
      outline: 0;
      max-width: 100%;
      width: 380px;
      min-width: 320px;
      padding: 15px;
      font-weight: 600;
      font-size: 12px;
      color: var(--pgw-color-gray-2)!important;
      box-shadow: 0px 5px 15px hsla(0, 0%, 0.1%, 0.1);
      
      span {
        color: var(--pgw-color-gray-2) !important;
      }
    }

    &-close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      outline: none;
      box-shadow: none !important;
      color: var(--pgw-color-text-primary) !important;
      border-radius: var(--pgw-default-radius-1);
      font-size: 24px;
      margin: 0;
      padding: 5px 10px;
      line-height: 32px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: var(--pgw-color-black) !important;
      }
    }

    &-list {
      margin-top: 12px!important;
      list-style-type: none !important;
      list-style-position: inside !important;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      text-align: left !important;

      li {
        margin-top: 8px;
        &.button {
          text-align: right;
          border: 0;
          padding-left: 0;
          padding-right: 0;
          margin: 0;
          padding-bottom: 0;
          width: 100%;
        }

        label {
          display: flex!important;
          gap: 10px;
          align-items: center;
          margin-bottom: 10px;
        }
      }
    }

    input[type="radio"] {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      display: inline-block;
      position: relative;
      vertical-align: middle;
      width: 23px;
      height: 23px;
      min-width: 23px;
      min-height: 23px;
      background-clip: content-box;
      border: 2px solid #bbbbbb;
      border-radius: 50%;
      flex-shrink: 0;
      margin: 0;
      padding: 3px;
    }

    input[type="radio"]:checked {
      background-color: var(--pgw-color-text-primary);
    }

    textarea {
      width: 100%;
      min-width: 50px;
    }
  }
}
