.forumpay-pgw {
  &-container {
    border-radius: 11px;
    background-color: var(--pgw-color-background-primary);
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: content-box !important;
    position: relative;
    border: 1px solid var(--pgw-border-color);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100%;
      width: 100%;
      border-radius: inherit;
      background-color: inherit;
      filter: drop-shadow(var(--pgw-box-shadow));
    }

    p {
        margin: 0;
    }

    &-success {
      color: var(--pgw-color-success-1);
      background-color: var(--pgw-color-success-4);
    }

    &-warning {
      color: var(--pgw-color-warning-1);
      font-weight: 400;
      background-color: var(--pgw-color-warning-2);
      a {
        cursor: pointer;
        text-decoration: underline;
        color: var(--pgw-color-warning-1);
        font-weight: 600;
      }

      p {
        color: var(--pgw-color-warning-1);
      }
    }

    &-danger {
      color: var(--pgw-color-danger-1);
      background-color: var(--pgw-color-danger-5);
      p {
          color: var(--pgw-color-danger-1);
      }
    }

    &-state-confirmed {
      font-weight: 600 !important;
      color: var(--pgw-color-success-1);
    }

    &-state-cancelled {
      font-weight: 600 !important;
      color: var(--pgw-color-danger-1);
    }

    &-state-blocked {
      font-weight: 600 !important;
      color: var(--pgw-color-danger-1);
    }

    &-success svg,
    &-warning svg,
    &-danger svg {
      width: 25px;
      height: 25px;
    }

    &-alert {
      display: flex;
      align-items: center;

      &-icon {
        height: 25px;
        width: 25px;
        padding: 5px;
        box-sizing: content-box !important;
      }

      p {
        font-size: 14px;
        word-break: break-word;
      }
    }
  }
}
