.forumpay-pgw {
  &-instruction {
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    padding:50px 10px 10px 10px;

    &-container {
      border-radius: 15px;
      margin: 10px auto;
      background-color: var(--pgw-color-white);
      position: relative;
      outline: 0;
      max-width: 380px;
      padding: 40px;
      font-weight: 600;
      font-size: 14px;
      color: var(--pgw-color-gray-2);
      box-shadow: 0px 5px 15px hsla(0, 0%, 0.1%, 0.1);
    }

    &-messages {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &-close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      outline: none;
      box-shadow: none !important;
      color: var(--pgw-color-text-primary) !important;
      border-radius: var(--pgw-default-radius-1);
      font-size: 40px;
      margin: 0;
      padding: 5px 10px;
      line-height: 32px;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color: var(--pgw-color-black) !important;
      }
    }

    img {
      width:50px;
      vertical-align: middle;
      border-style: none;
    }

    &-list {
      margin-top: 10px;
      list-style-type: numeric !important;
      list-style-position: inside !important;
      margin-block-start: 0;
      margin-block-end: 0;
      padding-inline-start: 0;
      text-align: center !important;

      li {
        margin-top: 10px;
        color: var(--pgw-color-black);
      }
    }

    &-custom {
      margin-top: 20px;

      &-message {
        box-sizing: border-box;
        width: 100%;
        margin-top: 20px;
        font-weight: 600;
        display: flex;
        flex-direction: row;
        border-radius: 15px;
        padding: 20px;
        align-items: center;
        box-shadow: 0px 5px 15px hsla(0, 0%, 0.1%, 0.1);
        background-color: var(--pgw-color-warning-2);
      }
    }
  }
}
