.forumpay-pgw-dropdown-select {
  position: relative;
  width: 100% !important;
  max-width: 100% !important;
  display: block !important;
  float: none !important;

  &-label {
    font-weight: 800;
    font-size: 13px;
    display: block !important;
    text-align: left !important;
    float: none !important;
    width: 100% !important;
    padding: 0 !important;
    margin-bottom: 6px;

    span {
      color: var(--pgw-color-gray-2);
    }
  }

  &-field {
    background-color: var(--pgw-color-background-secondary) !important;
    width: 100% !important;
    max-width: 100% !important;
    height: 36px;
    font-weight: 600;
    font-size: 13px;
    font-family: "Be Vietnam", sans-serif;
    padding: 10px 30px 10px 10px;
    outline: none !important;
    box-shadow: none !important;
    background-image: none !important;
    border: none !important;
    border-radius: var(--pgw-default-radius-1);
    white-space: normal;
    appearance: none !important;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    margin: 0 0 6px 0;
    float: none !important;

    &-default {
      color: var(--pgw-color-gray-2);
    }

    option {
      border: var(--pgw-color-gray-2) 1px solid;
      &:hover {
        background-color: var(--pgw-color-gray-2);
      }
    }
  }

  &::after {
    content: "\276F";
    color: var(--pgw-color-gray-2);
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%) rotate(90deg);
    text-align: center;
    cursor: default;
    font-weight: 600;
    font-size: 13px;
    pointer-events: none;
  }
}
