.forumpay-pgw {
  &-underpayment {

    &-section:not(:last-child) {
      border-bottom: 1px solid var(--pgw-color-gray-4);
    }

    &-section {
      align-items: center;
      text-align: center;
      padding: 15px 0;
      width: 100%;
    }

    small {
      color: var(--pgw-color-gray-2);
      font-weight: 600;
      display: block;
    }

    &-name {
      letter-spacing: -1px;
      font-size: 18px;
      color: var(--pgw-color-black);
      margin-top: 10px;
      font-weight: 600;
    }

    &-not-enough-crypto {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      color: var(--pgw-color-danger-1);
      font-weight: 700;
      font-size: 16px;
      gap: 5px;

      svg {
        width: 22px;
        display: inline-block;
      }

      i::after {
        content: "\00a0";
      }
    }


    &-amounts-list {
      li {
        font-weight: 600;
        margin-bottom: 0;
        font-size: .8em;
      }

      span {
        font-weight: 900;
      }

      .emphasized {
        color: var(--pgw-color-danger-1);
      }
    }

    &-toggle-qr-visibility-text {
      margin-top: 5px;
      cursor: pointer;
    }

    &-qr-image {
      display: block;
      margin: 0 auto;
      width: 65%;
      aspect-ratio: 1;
    }

    &-backup-qr {
      margin-top: 20px;

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
      }

      span {
        color: var(--pgw-color-gray-2);
        font-size: 13px;
        font-weight: 600;
        text-align: left;
      }

      img {
        width: 20px;
        height: 20px;
        margin-right: 10px;
      }

      button {
        background-color: var(--pgw-color-white);
        color: var(--pgw-color-primary);
        border: 1px solid var(--pgw-color-primary);
        border-radius: 5px;
        font-size: 13px;
        font-weight: 600;
        padding: 4px 10px;
        white-space: nowrap;
        cursor: pointer;

        &:hover {
          color: var(--pgw-color-text-primary);
        }
      }
    }

    &-show-original-qr {
      cursor: pointer;
    }

    &-details {
      width: 100%;

      &-name {
        font-weight: 800;
        font-size: 14px;
        margin-top: 10px;
        text-align: left;
        display: block;
      }

      &-field {
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        width: 100%;
        background-color: rgba(236, 236, 236, 0.788);
        justify-content: space-between;
        align-items: center;
        border-radius: 5px;

        &--small {
          font-size: 11px;
        }
        span {
          font-weight: 600;
        }
      }
    }
  }
}
