/* color palette from <https://github.com/vuejs/theme> */
:root {
  --wlx-text-1: #0e1726;
  --wlx-main: #2b2f73;
  --wlx-main-2: rgba(43, 47, 115, 0.398);
  --wlx-gray-arrows: rgba(131, 131, 131, 0.2);
  --wlx-green-1: #00db7f;
  --wlx-green-2: #d7f8e6;
  --wlx-yellow: #fbbb0e;
  --wlx-red-1: rgb(216, 45, 45);
  --wlx-red-2: rgba(255, 154, 154, 0.398);
  --wlx-orange-1: rgb(241, 152, 18);
  --wlx-orange-2: rgba(241, 152, 18, 0.398);
  --wlx-white: #fff;
  --wlx-black: #000;

  --wlx-gray-1: rgb(226, 226, 226);
  --wlx-gray-2: rgba(80, 80, 80, 0.788);
  --wlx-gray-3: rgb(80, 80, 80);
  --wlx-gray-4: rgb(248, 248, 248);
}
