@import './_base.scss';
@import './_fonts.scss';

@import './components/_logo.scss';
@import './components/_container.scss';
@import './components/_dropbox.scss';
@import './components/_loader.scss';
@import './components/_info_timer.scss';
@import './components/_payment_status.scss';
@import './components/_copy.scss';
@import './components/_underpayment.scss';
@import './components/_instruction.scss';
@import './components/_cancel.scss';

@import './components/_rate.scss';
@import './components/_payment.scss';
@import './components/_payer.scss';
@import './components/_dob_input.scss';
@import './components/_select_input.scss';

body.ForumPayPaymentGatewayWidgetBody {
  #checkout.checkout-container {
    display: none;
  }
}

.forumpay-pgw {
  * {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }

  *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  }
  font-family: "Be Vietnam", sans-serif !important;
  font-size: 16px;
  min-width: 320px;
  min-height: 500px;
  position: relative;
  box-sizing: border-box;
  line-height: normal;

  &-content {
    min-width: 200px;
    max-width: 370px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
  }

  &-center {
    min-height: 200px;
    min-width: 200px;
    max-width: 370px;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    box-sizing: content-box !important;
  }

  &-guide-text {
    font-weight: 400;
    margin: 0;
    text-align: center;

    &-align-start {
      text-align: start;
    }

    &-padding-bottom {
      padding-bottom: 10px;
    }

    &-thin-font-weight {
      font-weight: 300;
      font-size: 0.8em;
      color: black;
      line-height: 1.6em;

      b {
        font-weight: bold;
      }
    }

    &-alert {
      color: var(--wlx-red-1);
      margin-bottom: 1em;
    }

    &-font-size-medium {
      font-size: medium;
    }
  }

  input {
    background-color: var(--wlx-gray-4);
    display: block;
    margin-bottom: 1em;
    width: 100%;
    font-size: small;
    padding-top: 0.7rem;
    padding-bottom: 1em;
    padding-left: 20px;
    border-radius: 10px;
    border-style: none;
    height: 3.5rem;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 500;
  }

  &-horizontal-list {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding-top: 0.8rem;
    font-family: "Be Vietnam", sans-serif;
    font-weight: 600;

    button {
      height: 3em;
    }

    .forumpay-pgw-button {
      flex: 0 1 auto;
      transform: scale(0.95);
    }

    .forumpay-pgw-button:first-child {
      flex: 1;
      margin-right: 1.2em;
    }

    .forumpay-pgw-button:last-child {
      flex: 2;
    }
  }

  &-button {
    background-color: var(--wlx-yellow);
    color: var(--wlx-main);
    font-weight: 800;
    border-radius: 5px;
    padding: 8px;
    cursor: pointer;
    letter-spacing: -1px;
    border: none;
    margin: 0 auto;
    text-decoration: none;

    &:hover {
      border: 0;
    }

    &--cancel {
      color: var(--wlx-white);
      background-color: var(--wlx-red-1);

      &:hover {
        color: var(--wlx-text-1);
        background-color: var(--wlx-red-1);
        border: 0;
      }
    }

    &:disabled {
      opacity: 0.6;
      cursor: not-allowed;
    }

    &--warning {
      color: var(--wlx-main);
      background-color: var(--wlx-yellow);

      &:hover {
        color: var(--wlx-text-1);
        background-color: var(--wlx-yellow);
        border: 0;
      }
    }
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  hr {
    box-sizing: content-box;
    height: 1px;
    overflow: visible;
    border: 0;
    border-top: 1px solid #eee;
  }
}
